*,
*::before,
*::after {
	box-sizing: inherit;
}

html,
body {
	min-width: 640px;
	box-sizing: border-box;
	font-family: var(--font-family-roboto), sans-serif;
	font-size: 25px;
	line-height: 25px;
	background: var(--color-gallery);
}

html {
	box-sizing: border-box;
}

#app {
	position: relative;
	overflow: hidden;
	min-width: 640px;
}

h2 {
	padding: 45px 0;
	font-size: 40px;
	line-height: 60px;
	text-align: center;
	text-transform: uppercase;
	color: var(--color-deep-cerulean);
}

.page-about {
	background-color: var(--color-deep-cerulean);
}
