.block-about
	.container
		.block-about__top
			img.block-about__photo(src="/images/irene_artemova.jpg" alt="Ирина Артемова")
			.block-about__wrapper
				h1
					| Верстальщик сайтов
				.block-about__contacts
					.block-about__item
						| Ирина Артемова
					.block-about__item
						| Почта: artemova.irene@gmail.com
					.block-about__item
						| Личный сайт: #[a(href="https://irene.beliarh.net/" target="_blank") https://irene.beliarh.net/]
					.block-about__item
						| GitHub: #[a(href="https://github.com/irene-97" target="_blank") https://github.com/irene-97]

		.block-about__info
			p.subtitle
				| Как работаю, что использую в&nbsp;разработке сайтов?
			p
				| Занимаюсь адаптивной версткой сайтов по&nbsp;дизайн-макетам (psd, sketch).
				| Придерживаюсь принципов PixelPerfect верстки с&nbsp;поддержкой современных браузеров.
			br
			p
				| Основные навыки:
				ul
					li
						| Верстка HTML, шаблонизатор Pug
					li
						| Методология именования классов BEM
					li
						| Имеются базовые знания JavaScript, jQuery
					li
						| Имеются базовые знания PHP
					li
						| Bootstrap, Foundation
					li
						| Работа со&nbsp;сторонними JS-библиотеками
					li
						| Svg-спрайты, png-спрайты
					li
						| Командная работа с&nbsp;Git
					li
						| Для взаимодействия с&nbsp;макетами - Photoshop, Avocode, Zeplin
					li
						| Работа со&nbsp;сборкой с&nbsp;помощью Gulp

			p.subtitle
				| Где училась?
			p
				| Окончила &laquo;Ульяновский авиационный колледж&nbsp;&mdash; Межрегиональный центр компетенций&raquo;
				| по&nbsp;специальности &laquo;Программирование в&nbsp;компьютерных системах&raquo;.
			p
				| Окончила обучающий курс &laquo;Верстка&raquo; от&nbsp;компании &laquo;MST Digital Agency&raquo;.
			p
				| Помимо этого, и&nbsp;в&nbsp;настоящее время постоянно самообучаюсь, стремлюсь набирать опыт,
				| развиваться и&nbsp;совершенствоваться в&nbsp;своем деле.


			p.subtitle
				| Какой опыт работы?
			p
				| С&nbsp;2016 года занимаюсь версткой и&nbsp;адаптированием сайтов.
			p
				| Проходила стажировку в&nbsp;компании; работала удаленно над разными проектами (верстка, адаптирование,
				| переделывание сайтов&nbsp;&mdash; мелкие и&nbsp;крупные проекты, в&nbsp;том числе под NDA соглашением).
			p
				| Работала удалённо с&nbsp;такими компаниями, как I-Market (г.Москва), DocDoc (г.Москва), Камис
				| (г.#[nobr Санкт-Петербург]), Волга-М (г.Ульяновск).

			p.subtitle
				| Почему предпочитаю фриланс, удаленную работу?
			p
				| Такой вид работы дает возможность находить интересные проекты разной сложности и&nbsp;сотрудничать
				| с&nbsp;различными компаниями. Обустроенное под себя личное рабочее место позволяет работать
				| в&nbsp;более спокойной и&nbsp;комфортной обстановке в&nbsp;удобное время. К&nbsp;тому&nbsp;же
				| не&nbsp;требуется тратить большое количество времени на&nbsp;дорогу в&nbsp;общественном транспорте.
				| А&nbsp;в&nbsp;перерывах между проектами можно посветить себя самообразованию.
