.block-about
	.container
		.block-about__top
			img.block-about__photo(src="/images/irene_artemova.jpg" alt="Ирина Артемова")
			.block-about__wrapper
				h1
					| Верстальщик сайтов
				.block-about__contacts
					.block-about__item
						| Ирина Артемова
					.block-about__item
						| Почта: artemova.irene@gmail.com
					.block-about__item
						| Личный сайт: #[a(href="https://irene.beliarh.net/" target="_blank") https://irene.beliarh.net/]
					.block-about__item
						| GitHub: #[a(href="https://github.com/irene-97" target="_blank") https://github.com/irene-97]

		.block-about__info
			p.subtitle
				| Как работаю? Что использую в&nbsp;разработке сайтов?
			p
				| Занимаюсь адаптивной вёрсткой сайтов по&nbsp;дизайн-макетам (psd, sketch).
				| Придерживаюсь принципов PixelPerfect вёрстки с&nbsp;поддержкой современных браузеров. Качественно
				| и&nbsp;добросовестно подхожу к&nbsp;работе над каждым проектом&nbsp;&mdash; тестирую
				| сайты в&nbsp;разных браузерах, на&nbsp;разных разрешениях и&nbsp;устройствах. Делаю вёрстку гибкой,
				| с&nbsp;чистым и&nbsp;аккуратным кодом.
			br
			p
				| Веду свой #[a(href="https://ireneblog.beliarh.net/" target="_blank") блог о&nbsp;веб-разработке],
				| где при возможности описываю&nbsp;то, что изучаю и&nbsp;практикую.
			br
			p
				| Основные навыки:
				ul
					li
						| HTML, шаблонизатор Pug
					li
						| Методология именования классов BEM
					li
						| Flexbox
					li
						| Имеются базовые знания JavaScript, jQuery
					li
						| Имеются базовые знания PHP
					li
						| Bootstrap, Foundation
					li
						| Работа со&nbsp;сторонними JS-библиотеками
					li
						| Svg-спрайты, png-спрайты
					li
						| Командная работа с&nbsp;Git
					li
						| Для взаимодействия с&nbsp;макетами - Photoshop, Avocode, Zeplin
					li
						| Работа со&nbsp;сборкой с&nbsp;помощью Gulp
					li
						| PixelPerfect вёрстка
					li
						| Адаптивная кроссбраузерная вёрстка
			p.subtitle
				| Где училась?
			p
				| Окончила &laquo;Ульяновский авиационный колледж&nbsp;&mdash; Межрегиональный центр компетенций&raquo;
				| по&nbsp;специальности &laquo;Программирование в&nbsp;компьютерных системах&raquo;.
			p
				| Окончила обучающий курс &laquo;Вёрстка&raquo; от&nbsp;компании &laquo;MST Digital Agency&raquo;.
			p
				| Помимо этого, и&nbsp;в&nbsp;настоящее время постоянно самообучаюсь, стремлюсь набирать опыт,
				| развиваться и&nbsp;совершенствоваться в&nbsp;своем деле.
			p.subtitle
				| Какой опыт работы?
			p
				| С&nbsp;2016 года занимаюсь вёрсткой и&nbsp;адаптированием сайтов.
			p
				| Проходила стажировку в&nbsp;компании; работала удалённо над разными сайтами (вёрстка, адаптирование,
				| переделывание сайтов&nbsp;&mdash; от&nbsp;мелких лендингов до&nbsp;достаточно крупных проектов),
				| большая часть из&nbsp;которых под NDA соглашением.
			p
				| Работала удалённо с&nbsp;такими компаниями, как I-Market (г.Москва), DocDoc (г.Москва), Камис
				| (г.#[nobr Санкт-Петербург]), Волга-М (г.Ульяновск).
			p
				| Имеется #[a(href="https://irene.beliarh.net" target="_blank") портфолио с&nbsp;некоторыми работами].
			p.subtitle
				| Почему предпочитаю фриланс, удалённую работу?
			p
				| Такой вид работы даёт возможность находить интересные проекты разной сложности и&nbsp;сотрудничать
				| с&nbsp;различными компаниями. Обустроенное под себя личное рабочее место позволяет работать
				| в&nbsp;более спокойной и&nbsp;комфортной обстановке в&nbsp;удобное время. К&nbsp;тому&nbsp;же
				| не&nbsp;требуется тратить большое количество времени на&nbsp;дорогу в&nbsp;общественном транспорте.
				| А&nbsp;в&nbsp;перерывах между проектами можно посветить себя самообразованию.
