.block-achievements#achievements
	.container
		h2
			| Достижения
		.achievements
			a.achievement.fancybox(rel="gallery1" href="/images/achievements/achievements1.jpg" title="Всероссийская олимпиада 2016-2017 уч.г. по дисциплине Основы программирования")
				img(src="/images/achievements/achievements1.jpg" alt="Ирина Артемова - Достижения")
			a.achievement.fancybox(rel="gallery1" href="/images/achievements/achievements2.png" title="Димплом о среднем профессиональном образовании")
				img(src="/images/achievements/achievements2-preview.png" alt="Ирина Артемова - Достижения")
			a.achievement.fancybox(rel="gallery1" href="/images/achievements/achievements3.png" title="Сертификат о прохождении курса \"Вёрстка\" образовательного проекта GREENWICH от MST Digital Agency")
				img(src="/images/achievements/achievements3.png" alt="Ирина Артемова - Достижения")
