.block-skills#skills
	.container
		h2
			| Навыки
		.skills
			.skill.wow.bounceInUp(data-wow-duration="2s")
				.icon
					img(src="/images/svg/html-5-logo.svg" alt="HTML")
				.text
					| HTML
			.skill.wow.bounceInUp(data-wow-duration="2s")
				.icon
					img(src="/images/svg/css-file-format-with-brackets.svg" alt="Styles")
				.text
					| CSS / SCSS
			.skill.wow.bounceInUp(data-wow-duration="2s")
				.icon
					img(src="/images/svg/js-file-format-symbol.svg" alt="JS")
				.text
					| Основы JS / jQuery
			.skill.wow.bounceInUp(data-wow-duration="2s")
				.icon
					img(src="/images/svg/php.svg" alt="PHP")
				.text
					| Основы PHP
			.skill.wow.bounceInUp(data-wow-duration="2s")
				.icon
					img(src="/images/svg/git-logo.svg" alt="Git")
				.text
					| Git
			.skill.wow.bounceInUp(data-wow-duration="2s")
				.icon
					img(src="/images/svg/adaptive-layout.svg" alt="Адаптивная верстка")
				.text
					| Bootstrap / Foundation
			.skill.wow.bounceInUp(data-wow-duration="2s")
				.icon
					img(src="/images/svg/pipette-tool.svg" alt="Photoshop")
				.text
					| Photoshop / Illustrator
			.skill.wow.bounceInUp(data-wow-duration="2s")
				.icon
					img(src="/images/svg/smartphone.svg" alt="Адаптивная верстка")
				.text
					| Адаптивная и кроссбраузерная верстка
