.block-contacts#contacts
	.container
		h2
			| Контакты
		p
			| Подробная информация #[a(href="https://irene.beliarh.net/about.html" target="_blank") о&nbsp;моей работе]
		.labels
			.city
				img(src="/images/svg/placeholder.svg" alt="Город")
				.text
					| Ульяновская область, г. Ульяновск
			.email
				img(src="/images/svg/envelope.svg" alt="Email")
				.text
					| artemova.irene@gmail.com
			.phone
				img(src="/images/svg/phone-call.svg" alt="Телефон")
				.text
					| +7 902 246 44 06
		.links
			a(href="mailto:artemova.irene@gmail.com" target="_blank" title="Gmail")
				img(src="/images/svg/gmail.svg" alt="Gmail")
			a(href="https://vk.com/irene_97" target="_blank" title="Вконтакте")
				img(src="/images/svg/vk.svg" alt="Вконтакте")
			a(href="https://github.com/irene-97" target="_blank" title="Github")
				img(src="/images/svg/github-logo.svg" alt="Github")
			a(href="https://www.behance.net/irene_atremova" target="_blank" title="Behance")
				img(src="/images/svg/behance.svg" alt="Behance")
			a(href="skype:irene_121997?chat" target="_blank" title="Skype")
				img(src="/images/svg/skype.svg" alt="Skype")
			a(href="https://t.me/art_irene" target="_blank" title="Telegram")
				img(src="/images/svg/telegram.svg" alt="Telegram")
