header
	.container
		span
			img(src="images/svg/avatar.svg" alt="")
			| Ирина Артемова
		.navigation
			a.js-scrollTo(href="#skills")
				| Навыки
			a.js-scrollTo(href="#works")
				| Работы
			a.js-scrollTo(href="#contacts")
				| Контакты
			a(href="https://ireneblog.beliarh.net/" target="_blank")
				| Блог
		button.humburger(type="button")
			img(src="/images/svg/humburger.svg" alt="Меню")
		.navigation-small
			a.js-scrollTo(href="#skills")
				| Навыки
			a.js-scrollTo(href="#works")
				| Работы
			a.js-scrollTo(href="#contacts")
				| Контакты
			a(href="https://ireneblog.beliarh.net/" target="_blank")
				| Блог
		.text
			| Front End Developer#[br]
			| &#[br]
			| Web Designer
		.arrow.wow.bounce(data-wow-duration="5s" data-wow-iteration="3")
			img(src="images/svg/arrow-down-sign-to-navigate.svg" alt="Вниз")
