header
	.container
		span(title="Ирина Артемова (Фомина)")
			img(src="images/svg/avatar.svg" alt="Ирина Артемова")
			| Ирина Артемова
		.navigation
			a.js-scrollTo(href="#skills")
				| Навыки
			a.js-scrollTo(href="#works")
				| Работы
			a.js-scrollTo(href="#achievements")
				| Достижения
			a.js-scrollTo(href="#contacts")
				| Контакты
			a(href="https://ireneblog.beliarh.net/" target="_blank")
				| Блог
		button.hamburger(type="button")
			img(src="/images/svg/hamburger.svg" alt="Меню")
		.navigation-small
			a.js-scrollTo(href="#skills")
				| Навыки
			a.js-scrollTo(href="#works")
				| Работы
			a.js-scrollTo(href="#achievements")
				| Достижения
			a.js-scrollTo(href="#contacts")
				| Контакты
			a(href="https://ireneblog.beliarh.net/" target="_blank")
				| Блог
		.text
			| Front End Developer#[br] &#[br] Web Designer
		.arrow.wow.bounce(data-wow-duration="5s" data-wow-iteration="3")
			a.js-scrollTo(href="#skills")
				img(src="images/svg/arrow-down-sign-to-navigate.svg" alt="Вниз")
