.block-works#works
	.container
		h2
			| Работы
		.works
			a.work(href="https://premia.beliarh.net/" target="_blank" title="2016")
				img(src="/images/works/premia.jpg" alt="Премия конкуретные закупки")
				p
					| Вёрстка сайта «Премия конкурентных закупок»
			a.work(href="https://birtrans.beliarh.net/" target="_blank" title="2016")
				img(src="/images/works/birtrans.jpg" alt="Биртранс")
				p
					| Вёрстка сайта компании «Биртранс»
			a.work(href="https://domchehov.beliarh.net/" target="_blank" title="2016")
				img(src="/images/works/domchehov.jpg" alt="МДЧ")
				p
					| Вёрстка сайта мебельного магазина «МДЧ»
			a.work(href="https://pizza.beliarh.net/" target="_blank" title="2017")
				img(src="/images/works/pizza.jpg" alt="Доставка пиццы")
				p
					| Дизайн, вёрстка и программирование лендинга доставки пиццы
			a.work(href="https://yazykov.beliarh.net/" target="_blank" title="2017")
				img(src="/images/works/yazykov.jpg" alt="Поэт Языков")
				p
					| Дизайн, вёрстка и программирование сайта «Поэт Н.М.Языков»
			a.work(href="https://cookery.beliarh.net/" target="_blank" title="2017")
				img(src="/images/works/cookery.jpg" alt="Кулинарные рецепты")
				p
					| Дизайн, вёрстка и программирование сайта «Кулинарные рецепты»
			a.work(href="https://advertany.beliarh.net/" target="_blank" title="2017")
				img(src="/images/works/advertany.jpg" alt="Доска объявлений")
				p
					| Дизайн, вёрстка и программирование доски объявлений
			a.work(href="https://irene.beliarh.net/" target="_blank" title="2017")
				img(src="/images/works/irene.beliarh.jpg" alt="Портфолио Ирины Артемовой")
				p
					| Дизайн и вёрстка портфолио веб-разработчика
			a.work(href="https://www.behance.net/gallery/56283119/kofejnja" target="_blank" title="2017")
				img(src="/images/works/Cafe.jpg" alt="Кофейня")
				p
					| Дизайн сайта кофейни
			a.work(href="https://www.behance.net/gallery/56278679/ShopBear" target="_blank" title="2017")
				img(src="/images/works/Shopbear.jpg" alt="Магазин мишек")
				p
					| Дизайн сайта магазина игрушек
			a.work(href="https://www.behance.net/gallery/56539131/vetklinika" target="_blank" title="2017")
				img(src="/images/works/Ветклиника.jpg" alt="Ветклиника")
				p
					| Дизайн сайта ветклиники
			a.work(href="https://www.behance.net/gallery/56565199/Portfolio" target="_blank" title="2017")
				img(src="/images/works/Портфолио.jpg" alt="Портфолио Ирины Артемовой")
				p
					| Дизайн сайта-портфолио
			a.work.hidden(href="https://www.behance.net/gallery/57167207/dostavka-sushi-i-rollov" target="_blank" title="2017")
				img(src="/images/works/Суши-роллы.jpg" alt="Доставка суши и роллов")
				p
					| Дизайн сайта доставки суши и роллов
			a.work.hidden(href="https://www.behance.net/gallery/57340031/super-dacha-(testovoe-zadanie-dlja-IDEM)" target="_blank" title="2017")
				img(src="/images/works/СуперДача.jpg" alt="Супер ДАЧА")
				p
					| Дизайн сайта «СуперДАЧА» (тестовое задание)
			a.work.hidden(href="https://irene-97.github.io/mobile-app/" target="_blank" title="2017")
				img(src="/images/works/mobileApp.jpg" alt="MobileApp")
				p
					| Верстка сайта «MobileApp»
			a.work.hidden(href="https://irene-97.github.io/strict/" target="_blank" title="2017")
				img(src="/images/works/strict.jpg" alt="Strict")
				p
					| Верстка сайта «Strict»
			a.work.hidden(href="https://irene-97.github.io/lispum-media/" target="_blank" title="2017")
				img(src="/images/works/lispum-media.jpg" alt="Lispum Media")
				p
					| Верстка сайта «Lispum Media»
			a.work.hidden(href="https://irene-97.github.io/my-charity/" target="_blank" title="2017")
				img(src="/images/works/my-charity.jpg" alt="My Charity")
				p
					| Верстка сайта «My Charity»
			a.work.hidden(href="https://irene-97.github.io/zebra/" target="_blank" title="2017")
				img(src="/images/works/Zebra.jpg" alt="Zebra")
				p
					| Верстка сайта «Zebra»
		button(type="button")
			| Показать еще
