*,
*::before,
*::after {
	box-sizing: inherit;
}

html,
body {
	min-width: 640px;
	font-family: 'Roboto', 'Arial', sans-serif;
	font-size: 25px;
	line-height: 25px;
	box-sizing: border-box;
	background: #efefef;
}

#page {
	overflow: hidden;
	min-width: 640px;
}

h2 {
	padding: 45px 0;
	font-size: 40px;
	line-height: 60px;
	text-align: center;
	text-transform: uppercase;
	color: $oceanGreen;
}