.block-skills {
	background: $white;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);

	.skills {
		display: flex;
		margin-bottom: 60px;
		flex-wrap: wrap;
		font-size: 21px;

		.skill {
			flex-basis: 25%;
			width: 215px;
			text-align: center;
			margin: 15px 0;
			transition: transform 0.8s ease;

			.icon {
				img {
					width: 115px;
				}

				.text {

				}
			}

			&:hover {
				transform: scale(1.1);
			}
		}
	}
}

@media screen and (max-width: 875px) {
	.block-skills {
		.skills {
			.skill {
				flex-basis: 50%;
			}
		}
	}
}