.container {
	@include clearfix();
	position: relative;
	margin: 0 auto;
	padding: 0 20px;
	max-width: 1240px;
	min-width: 320px;
}

@media screen and (max-width: 1100px) {
	.container {
	}
}

@media screen and (max-width: 930px) {
	.container {
	}
}

@media screen and (max-width: 640px) {
	.container {
	}
}