.copyright {
	position: relative;
	box-shadow: 0 0 20px rgba(#000, 0.3);
	background: var(--color-cod-gray);
	transform: translateZ(0);

	h3 {
		margin: 0;
		padding: 20px 0;
		font-weight: 400;
		font-size: 19px;
		text-align: center;
		color: var(--color-white);
	}

	.cat {
		position: absolute;
		left: 74px;
		top: -182px;
		overflow: hidden;
		width: 160px;
		opacity: 0;
		visibility: hidden;
		transform: translate3d(0, 100%, 0);
		transition: opacity 0.5s ease, visibility 0.5s ease, transform 0.5s ease;

		img {
			display: block;
			width: 100%;
		}
	}

	&:hover {
		.cat {
			opacity: 1;
			visibility: visible;
			transform: translate3d(0, 0, 0);
			transition: opacity 0.25s ease, visibility 0.25s ease, transform 0.25s ease;
		}
	}
}
