.copyright {
	position: relative;
	box-shadow: 0 0 20px rgba(#000, 0.3);
	background: var(--color-cod-gray);
	transform: translateZ(0);

	h3 {
		margin: 0;
		padding: 20px 0;
		font-weight: 400;
		font-size: 19px;
		text-align: center;
		color: var(--color-white);
	}
}
