extends pug/base

prepend vars
	- title = 'Ирина Артемова. Портфолио веб-разработчика'
	- description = 'Портфолио веб-разработчика. Дизайн и адаптивная кроссбраузерная верстка. Ульяновск'
	- image = 'https://irene.beliarh.net/images/share.jpg'

append vars
	- html.classList.push('page-index')
	- meta.keywords = 'Ирина Артемова, irene, Irene Artemova, Ульяновск, разработка сайтов в Ульяновске, дизайн, верстка, портфолио верстальщика, верстка сайтов, лендинг, веб-разработка, FrontEnd'

append meta
	meta(name="format-detection" content="telephone=no")
	meta(name="yandex-verification" content="e453e67b2fdfabff")
	meta(name="wmail-verification" content="cd2d28490754b5c7c0756ea0c76ec662")

block content
	#page
		include pug/block-header
		include pug/block-skills
		include pug/block-works
		include pug/block-contacts
		include pug/block-copyright

prepend scripts
	include pug/yandex-metrika
