.block-skills {
	box-shadow: 0 0 10px rgba($color-black, 0.5);
	background: $color-white;

	.skills {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 60px;
		font-size: 21px;

		.skill {
			flex-basis: 25%;
			margin: 15px 0;
			width: 215px;
			text-align: center;
			transition: transform 0.5s ease;

			.icon {
				img {
					width: 115px;
				}

				.text {

				}
			}

			&:hover {
				transform: scale(1.1);
			}
		}
	}
}

@media screen and (max-width: 875px) {
	.block-skills {
		.skills {
			.skill {
				flex-basis: 50%;
			}
		}
	}
}
