.block-works {
	padding-bottom: 55px;

	h2 {
		&.info-text-open {
			.info-text {
				opacity: 1;
				visibility: visible;
			}
		}
	}

	.info {
		position: absolute;
		margin-left: 5px;
		width: 23px;
		height: 23px;
		cursor: pointer;
	}

	.info-text {
		position: absolute;
		left: 50%;
		top: 60px;
		z-index: 10;
		margin-left: -44px;
		border-radius: 7px;
		padding: 13px;
		width: 250px;
		box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
		font-size: 15px;
		line-height: 20px;
		text-align: left;
		text-transform: none;
		color: $color-black;
		background-color: $color-white;
		opacity: 0;
		visibility: hidden;
		transform: translateX(-50%);
		transition: opacity 0.3s ease;
	}

	.text {
		padding-bottom: 51px;

		p {
			border-left: solid 4px $color-alizarin-crimson;
			padding: 15px 21px;
			font-style: italic;
			font-size: 23px;
			line-height: 34px;
			text-align: justify;
			text-indent: 30px;
		}
	}

	.works {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 40px;

		.work {
			position: relative;
			display: block;
			flex-basis: calc(33.3% - 24px);
			margin: 15px 12px;
			border-radius: 5px;
			padding: 20px;
			box-shadow: 0 0 20px rgba($color-black, 0.3);
			text-decoration: none;
			background: $color-white;
			transition: box-shadow 0.3s ease;

			p {
				font-size: 19px;
				line-height: 24px;
				color: $color-black;
			}

			img {
				width: 100%;
				height: 200px;
				object-fit: cover;
			}

			&:hover {
				box-shadow: 0 0 33px rgba($color-black, 0.5);
			}

			&.hidden {
				display: none;
			}

			.is-browser-ie & {
				flex-basis: calc(33.3% - 64px);
			}
		}
	}

	button {
		display: block;
		margin: 0 auto 12px;
		outline: none;
		border: none;
		border-radius: 4px;
		padding: 12px 29px;
		box-shadow: 0 0 20px rgba($color-black, 0.2);
		font-size: 19px;
		color: $color-black;
		background: $color-white;
		cursor: pointer;

		&:hover {
			background: darken($color-white, 3%);
		}
	}
}

@media screen and (max-width: 1100px) {
	.block-works {
		.works {
			.work {
				flex-basis: auto;
				width: calc(50% - 24px);
			}
		}
	}
}
