.block-copyright {
	position: relative;
	box-shadow: 0 0 10px rgba($color-black, 0.5);
	background: $color-cod-gray;

	h3 {
		padding: 20px 0;
		font-size: 19px;
		text-align: center;
		color: $color-white;
	}

	.cat {
		position: absolute;
		left: 74px;
		top: -182px;
		overflow: hidden;
		width: 160px;
		opacity: 0;
		visibility: hidden;
		transform: translateY(100%);
		transition: opacity 0.5s ease, visibility 0.5s ease, transform 0.5s ease;
	}

	&:hover {
		.cat {
			opacity: 1;
			visibility: visible;
			transform: translateY(0);
			transition: opacity 0.25s ease, visibility 0.25s ease, transform 0.25s ease;
		}
	}
}
