// stylelint-disable scss/dollar-variable-empty-line-before

// COLORS

$color-alizarin-crimson: #d7203e;
$color-black: #000;
$color-cod-gray: #0b090a;
$color-gallery: #efefef;
$color-ocean-green: #46b193;
$color-white: #fff;
$color-dove-gray: #696969;

// FONTS

$font-family-roboto: "Roboto", sans-serif;

// VENDOR

$fancybox-image-url: "../images/fancybox";
